APEXTurbine
Code
Kitware
Mousepad
QtProject.conf
Thunar
Trolltech.conf
atril
autostart
dconf
enchant
gtk-2.0
gtk-3.0
htop
libreoffice
matplotlib
menus
mimeapps.list
mopidy
msmtp
mutt
orage
pavucontrol.ini
procps
pulse
qutebrowser
skypeforlinux
terminator
thefuck
update-notifier
user-dirs.dirs
user-dirs.locale
xfburn
xfce4
xfce4-session
xubuntu

# Do not remove
i3/config
ranger/tagged
ranger/bookmarks
ranger/history

wall.png
